@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --brand: #491612;
  --brand-dark: #330F0C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: var(--brand);
  --color-brand-dark: var(--brand-dark);
  --color-brand-50: #FFF1F2;
  --color-brand-100: #FFE4E6;
  --color-brand-200: #FECACA;
  --color-brand-400: var(--brand);
  --color-brand-500: var(--brand);
  --color-brand-600: var(--brand);
  --color-brand-700: var(--brand-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: var(--brand);
    color: #fff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
